.row{
    margin-left: 10px;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    display: none;
}
.movies-row{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}
.movie{
    width: 100%;
    max-height: 200px;
    margin-right: 20px;
    object-fit: contain;
    transition: transform 300ms;
}
.movie:hover{
    transform: scale(1.06);
}
.movie-poster{
    max-height: 350px;
}